@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --midnightblack: #111111;
    --deepblack: #232224;
    --darkblue: #00050d;
    --darkblue1: #0f1018;
    --darkblue2: #060315;
    --darkblue03:#000b18;
    --midnightdeepdarkblue: #0b0d11;
    --benbluedark: #020617;
    --midnightdarkblue: #10131a;
    --benbluelight: #02172f;
    --midnightdeepblue: #19192e;
    --nightblue: #15202b;
    --manzblue: #0e252f;
    --bluedots: #171c31;
    --midnightblue: #1b222f;
    --midnightlightblue: #232f3e;
    --midnightmetablue: #1e3443;
    --bluelightdots: #22283f;
    --bluewild: #133745;
    --deepgray: #494949;
    --graylight: #797979;
    --lightnavy: #1b355e;
    --darknavy: #00008b;
    --navy: #000080;
    --indigo: #4a0080;
    --rebeccapurple: #663399;
    --indigo-light: #55558d;
    --solidblue: #4e41e0;
    --blueviolet: #8a2be2;
    --ad3ae1: #ad3ae1;
    --steelblue: #4682b4;
    --bluesky: #44b7e9;
    --bluelight: #87abff;
    --bluedev: #bc9afa;
    --blueclean: #c9e1eb;
    --cyan: #00ffff;
    --hotpink: #ff69b4;
    --gold: #ffd700;
    --solidyellow: #f0ac03;
    --smoothyellow: #f4d648;
    --palegold: #ff914d;
    --organizativo-mucho:#ff914d;
    --palelightgold: #b6d161;
    --palered: #f3624e;
    --lime: #00ff00;
    --green: #7bbe78;
    --lightgreen: #04aa6d;
    --orange: #ec7211;
    --darkred: #8b0000;
    --redcarmesi: #af340b;
    --redpink: #ba2934;
    --crimson: #dc143c;
    --red: #be4042;
    --lightred: #e94355;
    --redG: #ee4130;
    --blueG: #8f71db;
    --greenG: #89b44b;
    --yellowG: #ffcb32;
    --pinkG: #ba5d92;
    --purple: #362946;
    --primary-color: #e69915;
    --secondary-color: #ff301a;

    --gradientBody:
        linear-gradient(
            #000,
            #10131a 100vh
        );

    & ::selection {
        background-color: #111111ee;
        color: white;
    }

    scroll-behavior: smooth;
    min-height: 100vh;
    /* scrollbar-color: var(--primary-color) #fff; */
    scrollbar-color: white black;
    scrollbar-width: thin;
}

/*  S W E E T     A L E R T S    S T Y L E S  */
.colored-toast.swal2-icon-success { background-color: #a5dc86 !important; }
.colored-toast.swal2-icon-warning { background-color: #dbd815 !important; }
.colored-toast.swal2-icon-error { background-color: var(--redG) !important; }
.colored-toast.swal2-icon-info { background-color: #3fc3ee !important; }
.colored-toast.swal2-icon-question { background-color: #7ea6b8 !important; }
.colored-toast .swal2-title { color: white; }
.colored-toast .swal2-close { color: white; }
.colored-toast .swal2-html-container { color: white; }


/* A D M I N     S T Y L E S */

/* BODY - LAYOUT ADMIN */
.admin-home {
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
    display: grid;
    grid-template-areas:
    "sidebar nav nav"
    "sidebar main main"
    "sidebar main main";
    --width-sidebar: 260px;
    grid-template-rows: 100px 1fr;
    grid-template-columns: var(--width-sidebar) 1fr;
    overflow-x: hidden;

}
/* HEADER - NAVBAR */
.admin-header {
    grid-area: nav;
    background-color: #00af9a;
    background-color: var(--primary-color);
    /* color: white; */
    display: flex;
    /* nav-bar */
    & .admin-nav-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .avatar-name {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            & .admin-avatar {
                width: 65px;
                border: 5px solid var(--secondary-color);
                overflow: hidden;
                background-color: #fff;
                border-radius: 50%;
                & img { width: 100%; height: 100%;}
            }
            & p { font-family: 'Montserrat Alternates'; }
        }
        & .dbt { font-family: 'Montserrat Alternates'; }
        & .logo {
            top: 15px;
            min-width: 90px;
            min-height: 90px;
            /* border: 2px dashed black; */
            background-color: #fff;
            border-radius: 50%;
            object-position: top;
            /* box-shadow: 0 0 .5rem .1rem gray; */
            margin: 0 2rem;
            transition: .32s all ease;
            position: relative;
            & a img { min-width: 150px; min-height: 150px; position: absolute; top: -35px; left: -25px; }
            &:hover { transform: rotate(350deg); }
            &:active { transform: scale(82%); transition: .06s ease; }
        }
    }
}

/* SIDEBAR */
.admin-sidebar {
    grid-area: sidebar;
    background-color: white;
    color: black;
    font-weight: 700;
    scrollbar-width: thin;
    scrollbar-color: white white;
    /* scrollbar-color: white var(--primary-color); */
    overflow: auto;
    position: fixed;
    box-shadow: .3rem 0 1.2rem 0 #4c52523f;
    height: 100vh;
}
/* contenido de la sidebar */
.sidebar-content {
    margin: auto;
    padding: 3rem 2rem;
    display: flex;
    width: 260px;
    flex-direction: column;
}
/* fecha y hora ? */
p { color: #a0a40d; font-family: 'Montserrat Alternatives'; font-size: .9rem; text-align: center; }
/* cafe bar name */
.title-sidebar {
    font-size: 1.35rem;
    text-transform: uppercase;
    margin-block: 3rem;
    width: 100%;
    text-align: center;
    border-block-end: var(--palegold) solid .5rem;
    border-radius: .4em;
    font-family: 'Montserrat Alternates';
}
/* enlaces de la sidebar */
.sidebar-options {
    & ul {
        display: flex;
        flex-direction: column;
        gap: 3.2em;
        & li {
            & a, summary, .forms-menu button {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 1rem;
                width: 100%;
                font-size: .9rem;
                font-weight: normal;
                letter-spacing: .09rem;
                font-family: "Sansita Swashed";
                cursor: pointer;
                list-style-type: none;
                & svg { width: 30px; height: 30px; fill: var(--primary-color); }
            }
            & summary {
                position: relative;
                /* margin-bottom: 1.2rem; */
                &::after {
                    content: '➕';
                    color: #007BFF;
                    font-size: 1.2em;
                    transition: transform 0.2s ease;
                }
            }
            & details[open] summary::after {
                content: "➖";
                transform: rotate(0deg);
            }
            & details a, .forms-menu button {
                margin-top: 1.2rem;
                color: #000;
                &:hover { color: #6d6868; }
                &:active { transform: scale(90%); transition: all .05s ease; }
            }
        }
    }
}

/* SLOT CONTAINER */
.admin-slot { grid-area: main; }

/* SLOT - DASHBOARD */
.dashboard-content {
    min-height: 100%;
    min-width: 100%;
    background-image: url("../../public/imgs/downloads/240_F_909214144_1Gzj10bZSrVAx6m86DtIpkYlFBWqZDYR.jpg ");
    background-size: auto;
    background-position: 5% bottom;
    background-repeat: no-repeat;
    & h2 {
        font-family: 'Sansita Swashed';
        font-size: 2.3rem;
        text-align: center;
        & svg {
            width: 30px;
            height: 30px;
        }
    }
    /* graficas */
    & .charts {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        grid-template-rows: repeat(auto-fill, minmax(1fr, 1fr));
        padding: 1em;
        justify-items: center;
        align-items: end;
        & div { width: 90%; }
    }
}

/* SLOT - MENU */
.menu-form-container {
    min-width: 100%;
    /* min-height: 100%; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 2rem 4rem 2rem;
    & h2, h3 {
        font-family: 'Sansita Swashed';
        font-size: 3rem;
        text-align: center;
    }
    & form {
        font-family: 'Montserrat';
        display: flex;
        flex-direction: column;
        gap: 2rem;
        & .drop-zone {
            border: 2px dashed #007bff;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
            cursor: pointer;
            transition: background-color 0.3s;
            & .dragover {
                background-color: #e9ecef;
                border-color: #0056b3;
            }
            & p {
                margin: 0;
                color: #6c757d;
                font-size: 16px;
            }
            &:hover { background-color: #f8f9fa; }
        }
        & .file-info {
            color: #a8aaaa;
            font-style: italic;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            text-wrap: no-wrap;
            text-overflow: ellipsis;
            & svg { fill: var(--green); min-width: 30px; min-height: 30px; max-width: 30px; max-height: 30px;}
        }
        & button {
            background-color: var(--primary-color);
            color: white;
            padding: 10px 20px;
            border-radius: .2rem;
            display: flex;
            font-family: 'Montserrat Alternates';
            text-transform: uppercase;
            justify-content: center;
            font-size: 1.2rem;
            gap: 2rem;
            align-items: center;
            transition: .2s ease;
            & svg { fill: white; }
            &:hover {
                background-color: var(--secondary-color);
            }
        }
    }
}
/* ver pdf */
.pdf-show {
    padding: 2rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & .pdf-info {
        font-family: 'Montserrat';
        display: flex;
        flex-direction: column;
        gap: .7rem;
        & div {
            justify-content: space-between;
            display: flex;
            /* background-color: #e6991570; */
            border: 2.3px dashed #1a1408;
            border-radius: .4rem;
            padding: .2rem 1rem;
            color: #000000;
            font-weight: bold;
            & p {
                font-size: 1.1rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                & svg { fill: #e69915; height: 20px; }
            }
            & span { font-weight: normal; font-family: 'Sansita Swashed'; text-align: end; padding-inline-end: .6rem; }
        }
    }
}
/* update section ver menu */
.pdf-view {
    min-width: 90%;
    min-height: 100vh;
    & iframe {
        border-radius: 1rem;
        margin: auto;
        min-width: 100%;
        min-height: inherit;
    }
}


/* M E D I A     Q U E R I E S   A D M I N I S T R A D O R  */
/* media querie dashboard */
@media (max-width:900px) {
    .admin-home {
        grid-template-areas:
        "nav"
        /* "sidebar" */
        "main";
        --nav-height: 100px;
        grid-template-rows: var(--nav-height) 100% 100%;
        grid-template-columns: 1fr;
        position: relative;

        & .admin-sidebar {
            inset: 0;
        }
    }
}






/* U S E  R S    S T Y L E S */

/* BODY DEL LAYOUT DE USUARIOS */
.users-home {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
    "nav"
    "main"
    "foot";
    --usersnav-size: 110px;
    --footer-size: 400px;
    grid-template-columns: 1fr;
    grid-template-rows: var(--usersnav-size) 1fr auto;
}

/* HEADER - NAVBAR */
.users-header {
    grid-area: "nav";
    background-color: #e69915;
    & .users-nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }
}
/* menu navbar */
.hb-menu {
    margin-inline-start: 1rem;
    cursor: pointer;
    & svg {
        width: 30px;
        height: 30px;
    }
}
/* nombre navbar */
.name-logo {
    width: max-content;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    & h1 {
        font-size: 2.5rem;
        font-family: 'Montserrat Alternates';
        text-transform: uppercase;
    }
}
/* logo nabbar */
.img-logo {
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
    & img {
        width: 100%;
        height: calc(var(--usersnav-size) - 10px);
    }
    &:hover { transform: rotate(350deg); }
    &:active { transform: scale(90%); }
}
& .icons-functions {
    margin-inline-end: 1rem;
    & svg {
        width: 35px;
        height: 35px;
    }
}

/* FOOTER */
.footer {
    grid-area: "foot";
    display: grid;
    grid-template-columns: minmax(100px, .3fr) 1fr;
    justify-content: space-between;
    gap: 1rem;
    align-items: end;
    padding: 2rem 2rem 1rem 2rem;
    margin-block-start: 1rem;
}
/* footer derechos reservados */
.r {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 1rem 0 0;
    & .social-media {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35px, 1fr));
        grid-auto-rows: auto;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        & a {
            & svg { fill: #000; width: 35px; height: 35px; }
        }
    }
}
/* footer terminos y condiciones */
.terms-and-conditions {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: auto;
    padding: 1rem 2rem;
    border-radius: .2rem;
    justify-content: center;
    align-items: center;
    gap: 1rem 2rem;
    & div {
        color: white;
        display: flex;
        font-weight: bolder;
        text-transform: uppercase;
    }
}

/* SLOT -> INDEX */
.users-slot {
    grid-area: "main";
    min-height: 85vh;
}
/* contenedor del index */
.home-container {
    height: 100%;
}
/* bloque opciones principales */
.options-list {
    min-height: calc(100vh - 110px);
    display: grid;
    grid-template-columns: repeat(3, minmax(calc(100vw / 3), 1fr));
}
/* opciones del bloque contendedor */
.upcoming-events-container, .menu-option-container, .videos-container {
    background-position: center;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    transition: all 1s ease;
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-size: cover;
        background-position: center;
        opacity: 0;
        transition: opacity 1s ease;
        z-index: 1;
    }
    &:hover::before {
        opacity: 1;
    }
    & .option-name {
        width: 100%;
        position: absolute;
        bottom: 10%;
        background-color: #fff;
        padding: 1rem;
        z-index: 10;
        font-family: 'Montserrat Alternates';
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
    }
}
/* opcion proximos eventos */
.upcoming-events-container {
    background-image: url(../../storage/app/public/imgs/uploads/zac-bromell-IJRMI1BGPbw-unsplash.jpg);
    &::before {
        background-image: linear-gradient(
            rgba(44, 38, 38, 0.4),
            rgba(51, 44, 44, 0.4)
        ), url(../../storage/app/public/imgs/uploads/luna-scott-avod3fMDMWk-unsplash.jpg);
    }
}
/* opcion menu */
.menu-option-container {
    background-image: url(../../storage/app/public/imgs/uploads/giovanny-ayala-j5uHBGEGYWU-unsplash.jpg);
    &::before {
        background-image: linear-gradient(
            rgba(44, 38, 38, 0.4),
            rgba(51, 44, 44, 0.4)
        ), url(../../storage/app/public/imgs/uploads/yuhan-du-MQgSN0gktXo-unsplash.jpg);
    }
}
/* opcion eventos pasados */
.videos-container {
    background-image: url(../../storage/app/public/imgs/uploads/vitaly-k-XiULGf8EeFA-unsplash.jpg);
    &:before {
        background-image: linear-gradient(
            rgba(44, 38, 38, 0.3),
            rgba(51, 44, 44, 0.3)
        ), url(../../storage/app/public/imgs/uploads/john-moeses-bauan-WG1HNF8PGHo-unsplash.jpg);
    }
}
/* google maps */
.location  {
    & h3 {
        font-size: 3rem;
        text-align: center;
        margin-block: 3rem;
        font-family: 'Sansita Swashed';
    }
    & #map {
        width: 100%;
        min-height: 100vh;
    }
    & p {
        display: flex;
        font-family: 'Montserrat';
        text-align: center;
        letter-spacing: .08rem;
        font-weight: 500;
        padding: .2rem 1rem;
        color: #111;
        background-color: #11111152;
    }
}

/* SLOT -> LOGIN */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-block: 4rem;
    gap: 3rem;
    & h2 {
        font-family: 'Montserrat Alternates';
        font-size: 3rem;
    }
    & hr {
        background-color: #c9c7c7;
        width: 30%;
        height: .1em;
    }
}
/* login form */
.login-singup-forms {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.7rem;
    & fieldset, input, legend {
        width: 100%;
        display: flex;
        align-items: end;
        outline: none;
    }
    & fieldset {
        & legend { color: #928c8c; font-family: 'Montserrat'; }
        & input {
            border-block-end: 2px solid gray;
            padding: 1rem 0;
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
    & button {
        width: 100%;
        background-color: var(--primary-color);
        color: white;
        padding: .5rem 0;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-family: 'Montserrat Alternates';
        &:hover { background-color: var(--secondary-color); }
        &:active { filter: saturate(65%); }
    }
}
/* singup boton de acceso */
.singup-access {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    & h3 {
        font-weight: bold;
        font-size: 1.2rem;
    }
    & a {
        width: 30%;
        padding: .5rem 0;
        text-align: center;
        color: #222020;
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: .4rem;
        border: 3px solid black;
        font-family: 'Sansita Swashed';
        transition: all .2s ease;
        &:hover { background-color: #e6dfdf5e; border-style: dotted; color: #000; }
        &:active { filter: saturate(65%); }
    }
}

/* SLOT -> SINGUP */


/* SLOT -> MENU DEL BAR */
.menu-container {
    & h2 {
        text-align: center;
        font-size: 3rem;
        font-family: 'Sansita Swashed';
        padding: .5rem;
        text-shadow: 0 0 .2rem white;
        background-color: var(--deepblack);
        color: wheat;
    }
    & .menu-view {
        min-width: 100%;
        min-height: 100vh;
        & iframe {
            margin: auto;
            width: 100%;
            min-height: inherit;
        }
    }
    & .menu-foot {
        background-color: var(--deepblack);
        width: 100%;
        padding: 1rem;
    }
    & .menu-not-found {
        min-height: 65vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        & svg {
            fill: gray;
            width: 50%;
            height: 6rem;
        }
    }
    & .go-back a {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1.3rem;
        align-items: center;
        & p {
            font-size: 1.5rem;
            font-family: 'Montserrat';
            text-decoration: underline;
            color: #2c2c2c;
            text-decoration-color: var(--primary-color);
        }
        & span {
            background-color: var(--secondary-color);
            border-radius: .1rem;
            padding: .5rem;
            & svg {
                width: 2rem;
                height: 2rem;
                fill: white;
            }
        }
    }
}


/* M E D I A     Q U E R I E S     U S U A R I O S */
/* dispositivos pequeños */
@media (max-width:639px) {
    /* HEADER - NAVBAR */
    .name-logo h1 {
        display: none;
    }
    .img-logo img {
        height: calc(89px - 10px);
    }

    /* OPTIONS LIST BLOCK */
    .users-home {
        grid-template-rows: 89px 1fr auto;
    }
    .home-container .options-list {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        height: calc(100vh - 89px);
    }
    .options-list .option-name {
        padding: 0 1em;
        width: max-content;
    }

    /* MAPS */
    .location p {
        background-color: #e69915ad;
        font-size: .82rem;
        padding: .5rem;
    }

    /* FOOTER */
    .footer {
        grid-template-columns: 1fr;
        padding: 0;
        gap: 0;
    }
    /* derechos reservados */
    .r {
        height: 100%;
        align-items: center;
        padding: 3rem 0 0 0;
        gap: 2rem;
    }
    /* redes sociales */
    .social-media {
        width: 100%;
        justify-items: center;
        & a {
            width: max-content;
            &:hover:first-of-type svg {
                fill: #0866ff;
            }
            &:hover:nth-of-type(2) svg {
                fill: #ff0024;
            }
            &:hover:nth-of-type(3) svg {
                fill: #fe92d5;
            }
            &:hover:nth-of-type(4) svg {
                fill: #0dc242;
            }
        }
    }
    /* terminos y condiciones */
    .terms-and-conditions {
        padding: 3rem 1rem;
        gap: 2rem;
        font-size: .85rem;
        justify-items: center;
        border-radius: 2rem 2rem 0 0;
        background-color: white;
        font-weight: 300;
        & div a {
            color: black !important;
        }
    }

    /* LOGIN */
    .login-container form {
        width: 70%;
    }
    .singup-access a {
        width: 70%;
        font-size: 1.1rem;
    }

}

/* dispositivos medianos */
@media (min-width:640px) and (max-width:1024px) {
    /* OPTIONS LIST INDEX  */
    .home-container .options-list {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        height: calc(100vh - 89px);
    }
    .options-list .option-name {
        padding: 0 1em;
        width: 51%;
    }

    /* LOGIN */
    .login-container {
        gap: 6rem;
        & form {
            width: 70%;
            gap: 8.7rem;
        }
    }
    .singup-access a { width: 70%; }
}








/* M E D I A     Q U E R I E S     A D M I N */

